
*{
    margin  : 0;
    padding : 0
}

:root{
    --primary-black : #333333;
    --white-text : #D1D1D1;
    --white-100 : #FCFCFC;
    --white : #fff;
    --gray-100 : #A8A8A8;
    --gray-200 : #767676;
    --gray-hover : #909293;
    --gray-hover-100 : #DBDEE0;
    --gray-border-500: #999999;
    --gray-background-50 : #D9D9D9;
    --gray-background :#4C514C;
    --white-background : #DBDEE0;
    --body-background : #F9F9F9

}